{:require [garm.core]
 :compiler-options {;:asset-path           "ids/dev/app.out"
                    :parallel-build       true
                    :source-map-timestamp true
                    :preloads             [devtools.preload]
                    :external-config      {:devtools/config {:features-to-install [:formatters :hints :async]}}}}
