//@import "cljsjs/grommet/production/grommet.min.inc";
@import "./grommet.min";

html, body {
  background: #eeeeec;
}

.hidden {
  display: none;
}

.rtl {
  .grommetux-table td, .grommetux-table th {
    text-align: right;
  }
}
